.collection-section{
    margin-top: 20px;
    text-align: center;
}
.collection-h2{
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 25px;
}
.allcollection-div{
    display: flex;
    align-items: stretch; /* potrzebne aby móc ustawiać wysokość zdjęcia */
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 220px; /*potrzebne aby zmniejszyć odstępy między zdjęciami podczas używania display: flex i flex-basis */
    padding-right: 220px; /*potrzebne aby zmniejszyć odstępy między zdjęciami podczas używania display: flex i flex-basis */
}
.collection-div{
    flex-basis: 29%;
    /* min-width: 300px; */

}
.underimage-div{
    position: relative;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    bottom: 18px;
    line-height: 5px;
    letter-spacing: 1px;
    padding: 2px;
}
.golf-img, .pikowanakurtka-img, .skorzanakurtka-img{
    width: 87%; /* przy align-items: strech; możemy regulować wielkość obrazka oraz odległość między nimi */
    height: 97%; /* przy align-items: strech; możemy regulować wielkość obrazka oraz odległość między nimi */
    outline-offset: 10px;
    outline-style: solid;
    box-sizing: border-box;
    padding-bottom: 30px;
    border-radius: 10px;

}
a{
    text-decoration: none;
    color: black;
}