.basket-product{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}
.cart-item{
    border: 2px solid;
    border-radius: 5px;
    display: flex;
}
.title-price-product{
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-price{
    display: flex;
    align-items: center;
    gap: 10px

}
.cart-item-price{
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
}